---
- name: Resolving vars for {{ minio_app.name }}
  ansible.builtin.include_vars:
    file: app-vars.yml
- name: Fetching checksum for {{ minio_app_name }}
  ansible.builtin.uri:
    url: '{{ minio_app_checksum_url }}'
    return_content: true
  register: minio_app_checksum_result
- name: Downloading {{ minio_app_name }} from {{ minio_app_url }} to {{ minio_app_exe }}
  become: '{{ minio_privilege_escalate }}'
  become_user: '{{ minio_privilege_escalation_user }}'
  ansible.builtin.get_url:
    url: '{{ minio_app_url }}'
    dest: '{{ minio_app_exe }}'
    mode: '755'
    checksum: 'sha256:{{ minio_app_checksum_result.content.split(" ")[0] }}'
- name: Linking {{ minio_app_exe }} to {{ minio_app_link }}...
  become: '{{ minio_privilege_escalate }}'
  become_user: '{{ minio_privilege_escalation_user }}'
  ansible.builtin.file:
    src: '{{ minio_app_exe }}'
    dest: '{{ minio_app_link }}'
    state: link
